{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
    <h3>Hakkımızda</h3>
    <hr>
    Herkese merhaba.Ben Haluk Can Kasım.Cumhuriyet Üniversitesi Mekatronik Mühendisliği mezunuyum.
    Sahiplen-Sahiplendir , sokakta kalmış veya bakamayacağınız evcil hayvanları sahiplendirmek veya
    sahiplenmek istediğiniz bir evcil hayvan var isee uygulama üzerindeki ilanlar sayfasından
    iletişime geçip bir evcil hayvan sahiplenebilirsiniz.
    Herhangi bir ticari işlem bulunmamaktadır.
    <hr>
    İletişim: <br>
    -->halukcankas52@hotmail.com <br>
    -->https://tr.linkedin.com/in/haluk-can-kasim-1161481a0
</div>

{% endblock body %}